force-app/main/default/flows/Contact_Role_Creation_In_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_ContactCollectionToUpdate</name>
        <label>Add ContactCollectionToUpdate</label>
        <locationX>505</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>varContactRoleCollectionToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contact_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Individual_Contact</name>
        <label>Assign Individual Contact</label>
        <locationX>598</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>varContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business User</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ContactCollectionToUpdate</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Contact Role Creation In Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Role Creation In Opportunity</label>
    <loops>
        <name>Loop_Contact_Records</name>
        <label>Loop Contact Records</label>
        <locationX>400</locationX>
        <locationY>321</locationY>
        <collectionReference>Get_Contacts_From_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Individual_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contact_Role</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Role</name>
        <label>Create Contact Role</label>
        <locationX>624</locationX>
        <locationY>192</locationY>
        <inputReference>varContactRoleCollectionToUpdate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contacts_From_Opportunity</name>
        <label>Get Contacts From Opportunity</label>
        <locationX>170</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contact_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contacts_From_Opportunity</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactCollectionToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>OppContactRoleAssign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>varContactCollectionFromOpp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>varContactRoleCollectionToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
