force-app/main/default/flows/Update_Risk_Meter_field_in_Account_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Mail</name>
        <label>Error Mail</label>
        <locationX>1103</locationX>
        <locationY>330</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Record Update is failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>yogeeswar99@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error Occured</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_any_field_value_is_updated</name>
        <label>Check any field value is updated</label>
        <locationX>328</locationX>
        <locationY>338</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>field_is_updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Field_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Field_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Field_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Field_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Field_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Field_4__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Field_4__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Field_5__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Field_5__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Field_6__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Field_6__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Risk_Type_Validation</targetReference>
            </connector>
            <label>field is updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Risk_Type_Validation</name>
        <label>Risk Type Validation</label>
        <locationX>579</locationX>
        <locationY>339</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Low_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SumOfFields</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SumOfFields</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Field_as_Low_Risk</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Low Risk</label>
        </rules>
        <rules>
            <name>Medium_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SumOfFields</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SumOfFields</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Field_with_Medium_Risk</targetReference>
            </connector>
            <label>Medium Risk</label>
        </rules>
        <rules>
            <name>High_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SumOfFields</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SumOfFields</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Field_as_High_Risk</targetReference>
            </connector>
            <label>High Risk</label>
        </rules>
    </decisions>
    <formulas>
        <name>SumOfFields</name>
        <dataType>Number</dataType>
        <expression>Value({!$Record.Field_1__c}) +Value({!$Record.Field_2__c})+Value({!$Record.Field_3__c})+Value({!$Record.Field_4__c})+Value({!$Record.Field_5__c})+Value({!$Record.Field_6__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Risk Meter field in Account Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Risk Meter field in Account Object</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_Field_as_High_Risk</name>
        <label>Update Account Field as High Risk</label>
        <locationX>834</locationX>
        <locationY>449</locationY>
        <faultConnector>
            <targetReference>Error_Mail</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Risk_Meter__c</field>
            <value>
                <stringValue>High Risk</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Field_as_Low_Risk</name>
        <label>Update Account Field as Low Risk</label>
        <locationX>811</locationX>
        <locationY>203</locationY>
        <faultConnector>
            <targetReference>Error_Mail</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Risk_Meter__c</field>
            <value>
                <stringValue>Low Risk</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Field_with_Medium_Risk</name>
        <label>Update Account Field with Medium Risk</label>
        <locationX>824</locationX>
        <locationY>333</locationY>
        <faultConnector>
            <targetReference>Error_Mail</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Risk_Meter__c</field>
            <value>
                <stringValue>Medium Risk</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>60</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Check_any_field_value_is_updated</targetReference>
        </connector>
        <object>Risk__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
