force-app/main/default/flows/UpdateCloseDateinOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>OpportunityToUpdate</name>
        <label>OpportunityToUpdate</label>
        <locationX>851</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>OpplistToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateTheOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateTheOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCloseDate</name>
        <label>SetCloseDate</label>
        <locationX>848</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>IterateTheOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dealingDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityToUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckOppisNotNull</name>
        <label>CheckOppisNotNull</label>
        <locationX>457</locationX>
        <locationY>316</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>oppisNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opplist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateTheOpportunity</targetReference>
            </connector>
            <label>oppisNotNull</label>
        </rules>
    </decisions>
    <interviewLabel>UpdateCloseDateinOpportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateCloseDateinOpportunity</label>
    <loops>
        <name>IterateTheOpportunity</name>
        <label>IterateTheOpportunity</label>
        <locationX>644</locationX>
        <locationY>319</locationY>
        <collectionReference>opplist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetCloseDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCloseDate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetOppotunityData</name>
        <label>GetOppotunityData</label>
        <locationX>231</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckOppisNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>opplist</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CloseDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCloseDate</name>
        <label>UpdateCloseDate</label>
        <locationX>644</locationX>
        <locationY>485</locationY>
        <inputReference>OpplistToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetOppotunityData</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NoOpportunitiesExist</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;There is no opportunities associated to this account to update the close date&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dealingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opplist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpplistToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppotunityids</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetOppotunityData</elementReference>
        </value>
    </variables>
</Flow>
